@using StudentSaveFormDemo.Models.EntityFramework
@{
    ViewBag.Title = "ClubAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Club Name</label> <br>
        <input type="text" name="ClubName"/>
    </div>
    <div style="margin-top: 10px" >
        <button class="btn btn-info">Club Add</button>
    </div>
</form>

