@model StudentSaveFormDemo.Models.EntityFramework.TblClubs
   
@{
    ViewBag.Title = "GetClub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Update", "Clubs", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(m=>m.ClubName)
                    @Html.TextBoxFor(m=>m.ClubName,new {@class="form-control" })
                </div>
                @Html.HiddenFor(m=>m.ClubID)
    <div style="margin-top:10px">
        <button class="btn btn-primary"> Update</button>
    </div>
            }

